@import '@/static/style/_variables.scss';
@import '@/static/style/_utils.scss';
@import '@/static/style/_mixin.scss';
@import '@/uview-ui/theme.scss';

$IMG_URL: 'https://shopro.7wpp.com'; //css中背景图片变量。js图片变量在env.js
