@font-face {
	font-family: "iconfont";
	src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABrQAAAJxAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEuATYCJAMMCwgABCAFhG0HQBv+BcgusG3Yk0DtRp2xEWBvHjkeDBBBtfZvz+7efQBQiJJC5YFQsY0EFPIbGxVjwsKgEW//17SEwuf5sqwiVOjuOP+Acym5joyZMVNqcnITbuCEC9TSMIfh/8MGHGsUgAcE8z1g6vrPgMvpT6BA5lmWyxiDxhoUrQGUYEB7YxRZCQXCLbKLuBMX8ZhAq0kt2SOL3TFTUaBVgXjoWFqmUggpipFtFuqGg0V8VGlOrxLiQ/T9+K+NqJBUGdp49PbczIx++3dJ44WLnBAmyMcrZCzJKMTlxtRZeWFw8lr1he7iWhHSXNEbRHLfWO/0j5eIGqpsB3NyOvH7ORUR/H75hAQyqFHgxiMK2+9PUju6sDz42VNf5uS3O/39T7Vq1aYtcE9r08SzmtH4F5CTJVzK1Fn2k+zvk6EAaqYdPQ9QoVh+kPsf/SIQjF2TPq90ba/SVsCv112yF3Bj89ncwd9TALuKr0KOXFw5lYeebHhkMqHV92pAvl5/440D4AShuaAwkDSZQNZsiizsEipttlBrtodWi5bH2/QheVFasOBDQuj2haTTZ2TdvsnC/qIy6B+17sij1enou7DNTDi1w4Qaown6AxwjCgVxcS2u3qN18TXKqyLuGSl1otBfWStnlxgizbElvVoDZgGCogAW0nPo+xHEFLlocMdmjofd1dtNb+oYUZCpOYwgDUMmoHsADkMkJPhoVqt8fg9ZLnwa6qjriZ8hknLGB30dPQC51Iegunt5JXVlGWBMAAKJBMBCmod8vgiIm+e5kIF12CMSsaEu7ieg+s76xuADyowm0N05UuQomq+ZZls4vl9/hObFwMyWyQAAAAA=') format('woff2');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-fill:before {
	content: "\e777";
}

.icon-reduce-fill:before {
	content: "\e788";
}
